body {
  background: rgb(247, 246, 249) 0%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  background: linear-gradient(
    90deg,
    rgba(24, 49, 63, 1) 0%,
    rgb(75, 73, 90) 0%
  );
  border: 0px solid transparent;
}

.container .add_card {
  background: rgb(247, 246, 249) 0%;
}
.row {
  display: flex;
  flex-direction: row;
}

.card {
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgb(229 219 243 / 75%);
  border-radius: 12px;
  padding: 19px;
  display: flex;
  border: 0px solid transparent;
  border-radius: 12px;
  margin-top: 35px;
  box-shadow: black;
}
.button {
  display: flex;
  flex-direction: column;
}
.button a {
  text-decoration: none;
  color: black;
}

.form-select,
.form-label,
.form-control,
.form-check-label,
.form-check-input:focus {
  box-shadow: none !important;
}
.form-control {
  border-radius: 14px;
}
.card h1 {
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.card label {
  font-weight: 700;
}
